.example-spacer {
  flex: 1 1 auto;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.user-info {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.user-info p {
  font-size: 15px;
  margin-right: 10px;
}

.add-button {
  width: 40px;
  height: 40px;
  margin: 20px;
  background-color: #613cb0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.title {
  margin-left: 20px;
}

#logo {
  margin-left: 5px;
}

#sign-out {
  margin-right: 15px;
}

#name {
  font-size: 20px;
  font-weight: 500;
  color: #613cb0;
  margin-left: 20px;
}

#info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
