<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img
      id="logo"
      src="/assets/img/renault_logo_2022_white.png"
      alt="Renault 2022 Logo"
      width="30"
      height="40"
    />
    <span class="title">{{ title }}</span>
    <span class="example-spacer"></span>

    <fa-icon [icon]="faSignOut" id="sign-out" (click)="signOut()"></fa-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div class="info" fxLayoutAlign="center center">
  <div fxFlex="33.33">
    <span id="name">{{ selfUserData.name }}</span>
  </div>

  <div fxFlex="33.33" fxLayoutAlign="center">
    <span id="role">{{ selfRole?.role_name }}</span>
  </div>

  <div fxFlex="33.33" fxLayoutAlign="end">
    <div class="add-button" (click)="openDialog()" *ngIf="isManager">
      <fa-icon [icon]="faPlus" size="lg" style="color: white"></fa-icon>
    </div>
  </div>
</div>

<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel
    *ngFor="let user of users"
    (opened)="isManager ? getUserById(user.user_id) : null"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ user.name }}</mat-panel-title>
      <mat-panel-description>
        {{ user.username }}
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div class="user-info">
        <mat-form-field appearance="outline">
          <mat-label>Kullanıcı Id</mat-label>
          <input #inputId matInput [value]="user.user_id" disabled />
        </mat-form-field>
      </div>

      <div class="user-info">
        <mat-form-field appearance="outline">
          <mat-label>Ad Soyad</mat-label>
          <input
            #inputName
            matInput
            [value]="user.name"
            [disabled]="!isManager"
            required
          />
        </mat-form-field>
      </div>

      <div class="user-info">
        <mat-form-field appearance="outline">
          <mat-label> Kullanıcı Adı </mat-label>
          <input
            #inputUsername
            matInput
            [value]="user.username"
            [disabled]="!isManager"
            required
          />
        </mat-form-field>
      </div>
    </div>

    <div
      fxLayout="row wrap"
      fxLayoutAlign="space-around center"
      *ngIf="this.userDetails[user.user_id]"
    >
      <div class="user-info">
        <mat-form-field appearance="outline">
          <mat-label> Rol </mat-label>
          <mat-select [(value)]="this.userDetails[user.user_id].role_id">
            <mat-option [value]="role.role_id" *ngFor="let role of roles">{{
              role.role_name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="user-info">
        <mat-form-field appearance="outline">
          <mat-label> Oluşturma Tarihi </mat-label>
          <input
            matInput
            [value]="this.userDetails[user.user_id].created_at"
            disabled
          />
        </mat-form-field>
      </div>

      <div class="user-info">
        <mat-form-field appearance="outline">
          <mat-label> Son Değiştirme Tarihi </mat-label>
          <input matInput [value]="this.userDetails[user.user_id].updated_at"
          disabled= />
        </mat-form-field>
      </div>
    </div>

    <div class="update-delete" *ngIf="isManager">
      <button
        mat-raised-button
        color="primary"
        (click)="
          updateUser(
            inputId.value,
            inputUsername.value,
            inputName.value,
            this.userDetails[user.user_id].role_id
          )
        "
      >
        Güncelle
      </button>

      <button
        mat-raised-button
        color="warn"
        (click)="deleteUser(inputId.value)"
      >
        Sil
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
